.container {
    width: 100%;
    min-height: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    width: 360px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: all .5s;
    opacity: 1.3;
}

.card:hover {
    background-image: linear-gradient(#8542e2, #43197c);
}

.card .img {
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;       
    background-size: 1rem;
    background-position: center;
    transition: all .5s;
    z-index: 2;
    position: relative;
}

.card .img span {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    transition: all .5s;
}

.card:hover .img {
    width: 430px;
    opacity: 1;
}

.card:hover .img span {
    font-size: 28px;
}

.card .content {
    padding: 0px 20px;
    height: 0;
    opacity: 0;
    transition: all .5s;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transform: translateY(30px);
}

.card:hover .content {
    height: 260px;
    padding: 20px;
    opacity: 1;
    transform: translateY(0);
}

.card .content p {
    margin: 0;
}

.card .content .title {
    font-size: 30px;
    font-weight: 600;
}
.card .content .desc {
    font-size: 14px;
    font-weight: 100;
    opacity: .8;
    margin-top: 8px;
}

.card .content .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: right;
    text-transform: capitalize;
    min-width: 70px;
    min-height: 10px;
}


.card .arrow {
    padding: 15px;
    transform: rotate(-180deg);
    transition: all .5s;
}

.card:hover .arrow {
    transform: rotate(0);
}

.card .arrow span {
    font-size: 24px;
}

/* * {
    border: solid red 1px;
} */